<%- include('partials/header.ejs') %>

<div class="container edits">
    <div class="new">
        <form action="/update/<%= data.id %>" method="post" enctype="multipart/form-data" class="update">
        
            <!--input an image-->
            <label for="image">Current Image :-</label>
            <img src="../<%= data.image %>" alt="image" width="250" height="200"><br>
            <label for="image">Upload New Image(Optional) :-</label>
            <input type="file" name="image" id="image">
            <br>
            <!--author name-->
            <label for="name"> Name:</label>
            <input type="text" id="name" name="name" value="<%= data.name %>" placeholder="Name of the User:-" required>
            <br>
            <!--input a heading-->
            <label for="title"> Heading / Title:</label>
            <input type="text" id="title" name="title" value="<%= data.title %>" placeholder="Title for the Blog :-" required>
            <br>
            <!--input a paragraph-->
            <label for="paragraph">Write ur experience:</label>
            <textarea name="paragraph" id="paragraph" cols="15" rows="7" placeholder="Write a brief driscription :-" required><%= data.paragraph %></textarea>
            <br>
            <!--submit-->
            <div class="button">
            <button type="submit" class="submit">update blog</button>
            </div>
        
        </form>
       
    </div>
</div>

<script>
    document.getElementById('bookForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission

        const formData = new FormData(this);

        fetch('/update/<%= data.id %>', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                window.location.href = '/'; // Redirect to homepage
            } else {
                alert('Error submitting form.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error submitting form.');
        });
    });
</script>


<%- include('partials/footer.ejs') %>